:root {

/* ### Primary */

--Moderate-violet: hsl(263, 55%, 52%);
--Very-dark-grayish-blue: hsl(217, 19%, 35%);
--Very-dark-blackish-blue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);

/* ### Neutral */

--Light-gray: hsl(0, 0%, 81%);
--bgClr: hsl(210, 46%, 95%);
--statusClr: hsla(217, 19%, 35%, 0.5);
--rewiewPara: hsla(217, 19%, 35%, 0.7);

--font-family: 'Barlow Semi Condensed', sans-serif;
--patrickStatus: hsla(0, 0%, 100%, 0.5);
--kiraStatus: hsla(219, 29%, 14%, 0.5);
--kiraQte: hsla(219, 29%, 14%, 0.7);
}

body {
    font-family: var(--font-family);
    color: var(--Light-gray);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 350px;
    max-width: 100em;
    background-color: var(--bgClr);
    padding: 5em 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.person {
    margin: 0 1.2em 1.5em;
    padding: 0 1.7em 1.5em 1.7em;
    border-radius: 0.5em;
}

.person-info {
    margin: 0 ;
    display: flex;
    align-items: center;
}


img {
    width: 38.5px;
    height: 38.5px;
    border-radius: 50%;
    margin: 1em 0 ;
}

.person-details {
    margin-left: 1em;
    line-height: 1.3;
}
.person-name {
    color: var(--White);
}

.person-one .person-details .status, 
.person-two .person-details .status {
    color: var(--Light-gray);
}

.person-three .person-name,
.person-five .person-name{
    color: var(--Very-dark-blackish-blue);
}

.person-three .person-details .status,
.person-five .person-details .status{
    color: var(--nii);
}

div.person-three h2,
div.person-five h2 {
    color: var(--Very-dark-grayish-blue);
} 

div.person-three,
div.person-five {
    color: var(--rewiewPara);
} 

.person-four .person-details .status{
    color: var(--patrickStatus);
}

.person h2 {
    margin: auto auto 1em;
    font-size: 1.3em;
    font-weight: 500;
    color: var(--White);
}

.person-one {
    background: url(/images/bg-pattern-quotation.svg) var(--Moderate-violet) fixed no-repeat 90% 0%;
}

.person-two {
    background-color: var(--Very-dark-grayish-blue);
}
.person-three {
    background-color: var(--White);
}

.person-four {
    background-color: var(--Very-dark-blackish-blue);
}
.person-five {
    background-color: var(--White);
}

@media screen and (min-width: 700px) {
    body {
        background-color: var(--bgClr);
    }
    .wrapper {
        width: 1440px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 19em 18.2em;
        gap: 1.5em;
        padding: 1.5em 1.7em;
    }

    .person {
        margin: 0;
        line-height: 1.2;
    }

    .person > h2 , .person-three  h2 
    , .person-five  h2 {
        font-size: 1.5rem;
    }
    
    .person-one {
        grid-column: 1 / span 2;
    }
    div.person-one h2 {
        padding-right: 1em;
    }

    .person-two blockquote {
        padding-right: 0.6em;
    }

    .person-three {
        grid-area: 2 / 1 / 3 / 2 ;
    }

    div.person-three h2  {
        margin-right: 1.7em;
    }

    .person-four {
        grid-area: 2 / 2 / auto / 4 ;
    }

    .person-five {
        grid-area: 1 / 4 / span 2 / auto ;
    }
    blockquote {
        font-size: 1.075rem;
    }
}